<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Reset Password</div>
    <div class="page__content shadow p-3 position-relative">

        <div class="signup-form">
            <form action="/examples/actions/confirmation.php" method="post" style="width: 761px; margin-left: -180px;">
                <h2>Reset Password</h2>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="user_name" style="font-size: 15px;">Username</label>
                        <input type="text" class="form-control" name="user_name" placeholder="User Name" [(ngModel)]="passwordResetRequest.userName" required="required" disabled="true">
                    </div>
                    </div>
                <div class="form-group">
                     <div class="col-xs-6">
                        <label for="password" style="font-size: 15px;">Password</label>
                        <input type="text" class="form-control" name="password" placeholder="Password" [(ngModel)]="passwordResetRequest.oldPassword" required="required">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">
                        <label for="new_password" style="font-size: 15px;">New Password</label>
                        <input type="text" class="form-control" name="new_password" placeholder="New Password" [(ngModel)]="passwordResetRequest.newPassword" required="required">
                    </div>
               </div>

               <div class="form-group">
                <div class="col-xs-6">
                    <label for="retype_new_password" style="font-size: 15px;">Re-Type New Password</label>
                    <input type="text" class="form-control" name="retype_new_password" placeholder="Re-Type New  Password" [(ngModel)]="confirmPassword" required="required">
                </div>
                </div>
                <div class="form-group">
                  <button mat-raised-button (click)="processResetPassword()" color="primary">Update</button>
                </div>
            </form>
        </div>
        </div>
        </div>

        <div
              class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
              <!-- Copyright -->
              <div class="text-white mb-3 mb-md-0">
                Copyright © 2020. All rights reserved.
              </div>
              <!-- Copyright -->
          
              <!-- Right -->
              <div>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#!" class="text-white me-4">
                  <i class="fab fa-google"></i>
                </a>
                <a href="#!" class="text-white">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
